# Copyright 2022 Yahoo Inc.
# Licensed under the terms of the Apache License 2.0. Please see LICENSE file in project root for terms.

name: create release and upload binary

on:
  push:
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  build:
    permissions:
      contents: write  # for actions/create-release to create a release
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@1f99358870fe1c846a3ccba386cc2b2246836776 # v2.2.1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: checkout
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

    - name: install go
      uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
      with:
        go-version: 1.19.4

    - name: get version
      id: v
      run: echo ::set-output name=tag::$( awk -F '/' '{print $NF}' <<< "${GITHUB_REF}" )

    - name: build
      run: |
       go build ./cmd/pam_sshca
       tar -czvf pam_sshca-${{ steps.v.outputs.tag }}-linux.tar.gz --transform 's,^,pam_sshca-${{ steps.v.outputs.tag }}-${OS}/,' pam_sshca
    - name: create release
      id: create-release
      uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e # v1.1.4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.v.outputs.tag }}
        release_name: ${{ steps.v.outputs.tag }}
        draft: false
        prerelease: false

    - name: upload linux binary
      uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5 # v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create-release.outputs.upload_url }}
        asset_path: pam_sshca-${{ steps.v.outputs.tag }}-linux.tar.gz
        asset_name: pam_sshca-${{ steps.v.outputs.tag }}-linux.tar.gz
        asset_content_type: application/gzip
