# Copyright 2022 Yahoo Inc.
# Licensed under the terms of the Apache License 2.0. Please see LICENSE file in project root for terms.

name: create release and upload binary

on:
  push:
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3

    - name: install go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: get version
      id: v
      run: echo ::set-output name=tag::$( awk -F '/' '{print $NF}' <<< "${GITHUB_REF}" )

    - name: build
      run: |
       go build ./cmd/pam_sshca
       tar -czvf pam_sshca-${{ steps.v.outputs.tag }}-linux.tar.gz --transform 's,^,pam_sshca-${{ steps.v.outputs.tag }}-${OS}/,' pam_sshca
    - name: create release
      id: create-release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.v.outputs.tag }}
        release_name: ${{ steps.v.outputs.tag }}
        draft: false
        prerelease: false

    - name: upload linux binary
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create-release.outputs.upload_url }}
        asset_path: pam_sshca-${{ steps.v.outputs.tag }}-linux.tar.gz
        asset_name: pam_sshca-${{ steps.v.outputs.tag }}-linux.tar.gz
        asset_content_type: application/gzip
