# Copyright 2022 Yahoo Inc.
# Licensed under the terms of the Apache License 2.0. Please see LICENSE file in project root for terms.

name: CI-Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

permissions: read-all

jobs:
  unit-tests:
    name: Run ${{matrix.go}} unit tests on ${{matrix.os}}
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
        go: [ '1.20.x', '1.21.x' ]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f086349bfa2bd1361f7909c78558e816508cdc10 # v2.8.0
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

      # https://github.com/mvdan/github-actions-golang#how-do-i-set-up-caching-between-builds
      - uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Setup go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: ${{ matrix.go }}

      - name: Install required packages for ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install -y libpam0g-dev

      - name: Update xcode
        if: matrix.os == 'macos-latest'
        uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: latest-stable

      - name: Run Go vet
        run: go vet -v ./...

      - name: Run Go build
        run: go build ./cmd/...

      - name: Run Go tests
        run: go test -covermode atomic -coverprofile coverage.txt ./...
     
      - name: Upload Coverage Report
        uses: codecov/codecov-action@e28ff129e5465c2c0dcc6f003fc735cb6ae0c673 # v4.5.0
        with:
         file: ./coverage.txt

      - name: Run Go tests with `-race`
        run: go test -v -race ./...

