# Copyright 2022 Yahoo Inc.
# Licensed under the terms of the Apache License 2.0. Please see LICENSE file in project root for terms.

name: CI-Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

permissions: read-all

jobs:
  unit-tests:
    name: Run ${{matrix.go}} unit tests
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        go: [ '1.18.x', '1.19.x' ]
    steps:
      - name: checkout
        uses: actions/checkout@v3

      # https://github.com/mvdan/github-actions-golang#how-do-i-set-up-caching-between-builds
      - uses: actions/cache@v3
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - name: Install required packages
        run: sudo apt-get install -y libpam0g-dev

      - name: Run Go vet
        run: go vet -v ./...

      - name: Run Go build
        run: go build ./cmd/...

      - name: Run Go tests
        run: go test -covermode atomic -coverprofile coverage.txt ./...
     
      - name: Upload Coverage Report
        uses: codecov/codecov-action@v3
        with:
         file: ./coverage.txt

      - name: Run Go tests with `-race`
        run: go test -v -race ./...

